hr {
    height: 4px;
    background-color: #0000ff;/*blue*/;
    background-color: #00F;
    width: 300px;
}

/*Es lo mismo que usar la etiqueta b (no semantica)*/
.fuente-nregita{
    font-weight: bold;
}

/*Es lo mismo que usar la etiqueta i (no semantica)*/
.fuente-cursiva{
    font-style: italic;
}

body{
    background: url('../img/playa.jpg');
}